[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mercantile = "*"
pymbtiles = "*"
pillow = "*"
loguru = "*"
beautifulsoup4 = "*"

[dev-packages]
mypy = "*"
pytest = "*"
vcrpy = "*"
pytest-vcr = "*"
pytest-mock = "*"
black = "*"

[requires]
python_version = "3.10"
